<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask image get</title>
</head>
<body>
    
    <h1 align="center">음식 업로드 페이지</h1>
    
    <form action="/food_post" method="POST" enctype="multipart/form-data">
        <h2 align="center">User Image</h2>
        <div id="view_area" align="center">
            <input type="file" name="user_img" id="user_img" value="userImage" onchange="previewImage(this,'view_area')">
            <input type="submit" value="전송">
        </div>
    </form>
    <div>
        <p>User_Age : {{ age }}</p>
        <p>User_sex : {{ sex }}</p>
    </div>
</body>
</html>